<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpt305.myfunctionalsystem" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="andoir.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SemesterScreen"
            android:label="Select a Term"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="MyHome"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DepartmentScreen"
            android:label="Select a Department"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CourseScreen"
            android:label="Select a Course"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DescriptionScreen"
            android:label="Course Information"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PlannerScreen"
            android:label="MyPlanner"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CartScreen"
            android:label="MyCart"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SectionsScreen"
            android:label="@string/title_activity_class_sections"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
